<%- include('../partials/head') -%>
<%- include('../partials/nav') -%>

        <div class="hunter-hunter">
            <div class="top-half">
            
                <h1 class="hunter-title"><%= book.title %></h1>    
                
                <img class="gon-cover" src="/images/<%= book.image %>" alt="<%= book.title %>">
            </div>

            <div class="bottom-half">
                <p class="hunter-data"><span class="bold-underline">Title:</span>
                    <span class="italics"><%= book.title %></span>
                </p>
                <p class="hunter-data"><span class="bold-underline">Author:</span>
                    <%= book.author %>
                </p>
                <p class="hunter-data"><span class="bold-underline">Publisher:</span>
                    <%= book.publisher %>
                </p>
                <p class="hunter-data"><span class="bold-underline">Genre:</span>
                    <%= book.genre %>
                </p>
                <p class="hunter-data"><span class="bold-underline">Number of pages:</span>
                    <%= book.pages %>
                </p>
                <p class="hunter-data"><span class="bold-underline">Rating:</span>
                    <%= book.rating %>
                </p>
                <p class="hunter-data"><span class="bold-underline">Synopsis:</span>
                    <%= book.synopsis %>
                </p>
            
            </div>
        </div>

<%- include('../partials/footer') -%>