<%- include('../partials/head') -%>
<%- include('../partials/nav') -%>

        <div class="hunter-hunter">
            <div class="top-half">
                <h1 class="hunter-title"><%= books.title %></h1>    
                <img class="gon-cover" src="/images/<%= books.image %>" alt="<%= books.title %>">
            </div>

            <div class="bottom-half">
                <p class="hunter-data"><span class="bold-underline">Title:</span>
                    <span class="italics"><%= books.title %></span>
                </p>
                <p class="hunter-data"><span class="bold-underline">Author:</span>
                    <%= books.author %>
                </p>
                <p class="hunter-data"><span class="bold-underline">Publisher:</span>
                    <%= books.publisher %>
                </p>
                <p class="hunter-data"><span class="bold-underline">Genre:</span>
                    <%= books.genre %>
                </p>
                <p class="hunter-data"><span class="bold-underline">Number of pages:</span>
                    <%= books.pages %>
                </p>
                <p class="hunter-data"><span class="bold-underline">Rating:</span>
                    <%= books.rating %>
                </p>
                <p class="hunter-data"><span class="bold-underline">Synopsis:</span>
                    <%= books.synopsis %>
                </p>
            
            </div>
        </div>

<%- include('../partials/footer') -%>