<%- include('../partials/head') -%>
<%- include('../partials/nav') -%>

        <div class="hunter-hunter">
            <div class="top-half">
                <!-- <div class="title"><span>HUNTER X HUNTER VOL. 1</span>
                    </div> -->
                <h1 class="hunter-title"><%= data.title %></h1>    
                
                <img class="gon-cover" src="./books/<%= data.image._id %>" alt="gon on the cover of hunter X hunter volume one">
            </div>

            <div class="bottom-half">
                <p class="hunter-data"><span class="bold-underline">Title:</span>
                    <span class="italics"><%= data.title %>></span>
                </p>
                <p class="hunter-data"><span class="bold-underline">Author:</span>
                    <%= data.author %>
                </p>
                <p class="hunter-data"><span class="bold-underline">Publisher:</span>
                    <%= data.publisher %>
                </p>
                <p class="hunter-data"><span class="bold-underline">Genre:</span>
                    <%= data.genre %>
                </p>
                <p class="hunter-data"><span class="bold-underline">Number of pages:</span>
                    <%= data.pages %>
                </p>
                <p class="hunter-data"><span class="bold-underline">Rating:</span>
                    <%= data.rating %>
                </p>
                <p class="hunter-data"><span class="bold-underline">Synopsis:</span>
                    <%= data.synopsis %>
                </p>
            </div>

        </div>

<%- include('../partials/footer') -%>